body{
  /* position: relative; */
  width: 100%;
  /* height: 100%; */
  margin: 0;
}
.main{
  position: absolute;
  width: 100%;
  /* height: 100%; */
  background-color: aquamarine;
}
.input{
  width: 50%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.input input{
  width: 100%;
  height: 30px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  font-size: 16px;
}
li{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
li input{
  width: 100%;
  height: 30px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  font-size: 16px;
}
button{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  font-size: 16px;
  margin-left: 10px;
}
button:hover{
  background-color: rgb(54, 50, 50);
  color: white;
}
li{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}
.dele{
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.edit{
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.update{
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.update :hover{
  transform: scale3d(1.1, 1.1, 1.1);
  background-color: rgb(54, 50, 50);
  color: white;
}